<form method="POST" action="">
  <div class="mt-4">
      <label for="search-input">Từ khóa</label>
    <input type="text" class="form-control" id="search-input" placeholder="Nhập từ khóa" name="q">
  </div>

  <div class="mt-4">
      <label for="search-input">Chọn giới tính</label>
      <br>
     <select name="gender" id="gender-input">
        <option value="">--Chọn giới tính--</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>